.container{
    max-width:1024px;
    max-height:768px;
    margin:10px auto;
    overflow: auto;
}

.up ,.down{
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    width:0;
    margin:10px auto;
}
.up{
    border-bottom:20px solid black;
}
.down{
    border-top:20px solid black;
}

.img img{
    width:150px;
    height:103px;
    border:3px solid orange;
}
.img{
    margin:5px auto;
    text-align:center;
}

.viewer{
    position: absolute;
    bottom:0;
    padding:50px;
    text-align: center;
}

.mv img{
    width:90%;
    height:250px;
}
